---
// Feature Cards grid Section
// ------------
// Description: A grid of cards with feature information in a 4 column layout.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/FeatureCard.astro'
import { ui } from '../../../i18n/ui'

// Content
// - Cards
import boy_wit_tongue_touching_lips from '../../../assets/images/boy_wit_tongue_touching_lips.png'
import braces from '../../../assets/images/braces.png'
import sleeping_child from '../../../assets/images/sleeping_child.png'
import lip_retractor from '../../../assets/images/lip_retractor.png'



const lang = Astro.params.lang === 'en' ? 'en' : 'cs';
const t = ui[lang].myofunctional_therapy

---

<Section id="features" classes="bg-[#d4e6fe]">
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-pretty">{t["offer_title"]}</h2>
			<p class="pb-0 text-lg">
		       	{t["offer_text"]}
			</p>
		</Col>
	</Row>
	<Row>
		<Col span="6" classes="flex flex-col gap-6">
			<Card
				title={t["offer_1_title"]}
				subtitle={t["offer_1_text"]}
				image={lip_retractor}
			/>
			<Card
				title={t["offer_2_title"]}
				subtitle={t["offer_2_text"]}
				image={boy_wit_tongue_touching_lips}
			/>
		</Col>
		<Col span="6" classes="flex flex-col gap-6">
			<Card
				title={t["offer_3_title"]}
				subtitle={t["offer_3_text"]}
				image={braces}
			/>
			<Card
				title={t["offer_4_title"]}
				subtitle={t["offer_4_text"]}
				image={sleeping_child}				
			/>
		</Col>
	</Row>
</Section>
