---
// Basic Cards grid Section
// ------------
// Description: A grid of cards with basic contact information in a 4 column layout.
// Properties:
// - classes: Additional classes to be added to the Section

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/BasicCard.astro'
import { ui } from '../../../i18n/ui'

// 	Props
type Props = {
	classes?: string
}
const { classes } = Astro.props

const path = new URL(Astro.request.url).pathname
const lang = Astro.params.lang === 'en' ? 'en' : 'cs';
const t = ui[lang].contact
---
<span>t.nav["SM"]</span>
<Section id="requests" classes={classes}>
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-balance">{t["oco"]}</h2>
		</Col>
	</Row>
	<Row>
		<Col span="3">
			<Card
				title={t["Phone"]}
				subtitle={`+420 732 171 923\n\n\n `}
				icon="phone"
				classes="text-center dark:!bg-neutral-800/50"
				link="/contact"
			/>
		</Col>
		<Col span="3">
			<Card
				title="Email"
				subtitle={`tkocjancic@gmail.com\n\n\n `}
				icon="at"
				classes="text-center dark:!bg-neutral-800/50"
				link="/contact"
			/>
		</Col>
		<Col span="3">
			<Card
				title={t["Address"]}
				subtitle={`V Podhoří 761/3e\n17100 Prague 7\nCzech Republic`}
				icon="mail"
				classes="text-center dark:!bg-neutral-800/50"
				link="/contact"
			/>
		</Col>
		<Col span="3" classes="flex flex-col gap-6">
			<Card
				title={t["SM"]}
				subtitle={t["SMblurb"]}
				icon="message"
				classes="text-center dark:!bg-neutral-800/50"
				link="/contact"
			/>
		</Col>
	</Row>
</Section>
